
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="col-5 offset-5">
          <% @tags.each do |tag| %>
            <span class="nav-post">
              <% if @tag.present? && @tag == tag %>
                <%= link_to "#{tag.tag_name}", posts_path(tag_id: tag.id),class: 'btn btn-secondary mx-3 my-1' %>
              <% else %>
                <%= link_to "#{tag.tag_name}", posts_path(tag_id: tag.id),class: 'btn btn-outline-secondary mx-3 my-1' %>
              <% end %>
            </span>
          <% end %>
          <table>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.review_title %></td>
                <td><%= post.show_tag_name %></td>
                <%# 星評価機能 %>
                <td class="post-evaluation" data-score="<%= post.evaluation %>"></td>
              </tr>
            <% end %>
          </table>
          <script>
            $('.post-evaluation').raty({
              readOnly: true,
              score: function() {
                return $(this).attr('data-score');
              },
              path: '/assets/'
            });
          </script>
        </div>
      </div>
      <div class="col-md-4">
        <% if @customer != nil then%>
          <%= render 'lists/name', customer: @customer %>
        <% end %>
        <%= render 'lists/search', games: @games %>
      </div>
    </div>
  </div>
</section>