  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="col-5 offset-5">
          <%= flash[:alert] %>
          <%= flash[:notice] %>
          <% @tags.each do |tag| %>
            <span class="nav-post"><%#タグ絞り込み%>
              <% if @tag.present? && @tag == tag %>
                <%= link_to "#{tag.tag_name}", posts_path(tag_id: tag.id),class: 'btn btn-secondary mx-1 my-1' %>
              <% else %>
                <%= link_to "#{tag.tag_name}", posts_path(tag_id: tag.id),class: 'btn btn-outline-secondary mx-1 my-1' %>
              <% end %>
            </span>
          <% end %>

          <% @posts.each do |post| %>
          <div class="alert alert-secondary" role="alert">
            <div><%=link_to post.review_title, post_path(post.id) %></div><br>
            <div><%= post.created_at.strftime('%Y/%m/%d') %></div>
            <div><%= post.customer.name %></div>
            <div class="text-right"><%= post.show_tag_name %></div>
            <% if current_customer.id == post.customer.id %>
              <div class="text-right"><%= link_to "編集する", edit_post_path(post.id) %></div>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <% if @customer != nil then%>
          <%= render 'lists/name', customer: @customer %>
        <% end %>
      </div>
    </div>
  </div>