<div class="container">
  <div class="row text-center">
    <div class="col-md-12 mt-5">
      <h2 class="my-5">新規投稿</h2>
    </div>
  </div>
  <div class="row my-5 d-flex justify-content-center">
    <div class="col-xs-12">
      <%= form_with model: @post do |f| %>
      <table>
        <tr>
          <th><%= f.label "タイトル" %></th>
          <td><%= f.text_field :review_title %></td>
        </tr>
        <tr>
          <th><%= f.label "レビュー" %></th>
          <td><%= f.text_area :background %></td>
        </tr>
        <tr>
          <th><%= f.label "タグ" %></th>
          <td><%= f.collection_select :tag_id, Tag.all, :id, :tag_name %></td>
        </tr>
        <tr>
          <td><%= render "lists/form", post: @post %></td>
        </tr>
        <tr>
          <th><%= f.submit '投稿', class: "btn btn-success" %></th>
        </tr>
      </table>
      <% end %>

    </div>
  </div>
</div>