<div class="search-box">
  <%= form_with url: posts_search_path, method: :get, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :keyword, class: "form-control" %>
      <%= f.submit 'ゲームタイトルを検索', class: "form-control btn btn-success" %>
    </div>
  <% end %>
  <% if @games.present? %>
  <%= render 'games/game' %>
  <% end %>
</div>




<h1>Rakuserach</h1>
<div class='content'>
  <div id="search-box">
    <%= form_tag('/', method: :get) do %>
      <%= text_field_tag :game, "",  id: "game", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  <h2>検索結果</h2>
  <div id='game'>
     <%= render partial: 'game' %>
  </div>
</div>