<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="col-5 offset-5">
        <p>ようこそ、NEW GAME!</p>
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
  <!-- 新着レビュー表示 -->
  <br>
  <h4 class="recommendation"><i class="fas fa-crown"></i> 新着レビュー <i class="fas fa-crown"></i></h4><br>
  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <div class="card mb-6">
          <div class="card-header">
            <p class="card-header-title">
              <%= post.review_title %>
              <p class="text-right"><%= post.show_tag_name %></p>
            </p>
            <%= link_to post_path(post.id), class: "button card-footer-item" do %>
              レビューを見る
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render 'lists/search', games: @games %>
      <div>
        <%= notice %>
        <% if @customer != nil then%>
          <%= render 'lists/name', customer: @customer %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <% if !current_customer.nil? %>
          <li class="list-group-item active">
            <tr>いいね一覧</tr>
          </li>
          <li class="list-group-item">
            <% @favorites.each do |favorite| %>
              <td>
                <%= link_to post_path(favorite.post) do %>
                  <%= favorite.post.review_title %>
                <% end %><br>
              </td>
            <% end %>
          </li>
        <% end %>
      </table>
    </div>
  </div>
</div>