<div class="container my-5">
  <h1>投稿一覧</h1>
  <div class="row">
    <div class="col">
      <div class="col-5 offset-5">
        <% @tags.each do |tag| %>
          <span class="nav-post"><%#タグ検索%>
            <% if @tag.present? && @tag == tag %>
              <%= link_to "#{tag.tag_name}", posts_path(tag_id: tag.id),class: 'btn btn-secondary mx-3 my-1' %>
            <% else %>
              <%= link_to "#{tag.tag_name}", posts_path(tag_id: tag.id),class: 'btn btn-outline-secondary mx-3 my-1' %>
            <% end %>
          </span>
        <% end %>
        <table>
          <% @posts.each do |post| %>
            <tr>
              <td><%=link_to post.review_title, admin_post_path(post.id) %></td>
              <td class="text-right"><%= post.show_tag_name %></td>
              <%# 星評価機能 %>
              <td class="post-evaluation" data-score="<%= post.evaluation %>"></td>
            </tr>
          <% end %>
        </table>
        <script>
          $('.post-evaluation').raty({
            readOnly: true,
            score: function() {
              return $(this).attr('data-score');
            },
            path: '/assets/'
          });
        </script>
      </div>
    </div>
  </div>
</div>