  <div class="container my-5">
  <h2>投稿詳細</h2>
    <div class="row">
      <div class="col">
        <div class="col-5 offset-5">
          <div>
              <p><%= @post.review_title %></p>
              <p><%= @post.background %></p>
            <%= render 'lists/comment', comment: @comment %>
          <div>
          <div id="evaluate_stars">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  raty(document.getElementById('evaluate_stars'),{
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%=@post.evaluation %>",
    readOnly: true//登録するモデル名とカラム名を記述
  });
</script>