<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="col-6 offset-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h3>ログイン</h3>

          <h5>会員の方はここからログイン</h5>
          <div>
            <%= f.label :"メールアドレス" %><br>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div>
            <%= f.label :"パスワード" %><br>
            <%= f.password_field :password %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
        <div>
          <h6>まだ、会員登録がお済出ない方は</h6>
          <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
        </div>
      </div>
    </div>
  </div>
</div>