<!DOCTYPE html>
<html>
  <head>
    <title>NEW GAME</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/32e6745338.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <% if admin_signed_in? %>
          <%= link_to "NEW GAME", admin_root_path, class:"header-title navbar-brand" %> <%#admin/homes/topに行きたい %>
        <% else %>
          <%= link_to "NEW GAME", root_path, class:"header-title navbar-brand" %>
        <% end %>

          <button class="navbar-toggler mx-5" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <% if customer_signed_in? %>
                <p>ようこそ <%= current_customer.name %> さん</p>
              <% end %>
              <% if customer_signed_in? %>
                <li class="nav-post">
                  <%= link_to "マイページ", root_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "レビュー一覧", posts_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "新規レビュー", new_post_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-post">
                  <%= link_to "レビュー一覧", admin_posts_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "会員一覧", admin_customers_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
              <% else %>
                <li class="nav-post">
                  <%= link_to "レビュー一覧", posts_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "新規登録", new_customer_registration_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "ログイン", new_customer_session_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
                </li>
                <li class="nav-post">
                  <%= link_to "ゲストログイン", customers_guest_sign_in_path,class: 'btn btn-outline-secondary mx-3 my-1', method: :post %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p class="text-center">©2022 </p>
    </footer>
  </body>
</html>
